@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
